<% if !@list.new_record? %>
<%= form_for @list do |form| %>
  <%= error_messages_for @list %>
  List: <%= form.text_field :name %> <button type="submit">save</button> |
  <%= link_to "delete this list", list_path(@list), :method => "delete" %> |
  <%= link_to "new item", [:new, @list, :item] %>
<% end %>
<% end %>
