<div class="label <%= dom_id(label) %>" id="<%= dom_id(label) %>">
  <style type="text/css">
    .<%= dom_id(label) %>.selected, .<%= dom_id(label) %>.attached {
      color: white;
      background-color: #<%= label.color %>
    }
  </style>

  <a href="#<%= label.name %>">
    <span class="color" style="background-color: #<%= label.color %>">&ensp;</span>
    <span class="name"><%= label.name %></span>
  </a>
  <div class="delete"><%= link_to image_tag("close_circle.png", :class => "middle"), [list, label], :method => "delete", :remote => true, :title => "delete the label '#{label.name}'", :confirm => "Are you sure you want to delete the label '#{label.name}'?" %></div>

</div>
