<div class="label <%= dom_id(label) %>" id="<%= dom_id(label) %>">
  <style type="text/css">
    .<%= dom_id(label) %>.selected, .<%= dom_id(label) %>.attached {
      color: white;
      background-color: #<%= label.color %>
    }
  </style>

  <%#= link_to label.name, "##{label.name}" %>
  <a href="#<%= label.name %>">
    <span class="color" style="background-color: #<%= label.color %>">&ensp;</span>
    <span class="name"><%= label.name %></span>
  </a>

  <div class="delete"><%= link_to image_tag("close_circle.png", :class => "middle"), [list, label], :method => "delete", :remote => true%></div>
</div>
