<div class="label <%= dom_id(label) %>" id="<%= dom_id(label) %>">
  <style type="text/css">
    .<%= dom_id(label) %>.selected, .<%= dom_id(label) %>.attached {
      color: white;
      background-color: #<%= label.color %>
    }
  </style>
  <div class="show toggle">
    <a href="#<%= label.name %>" class="name">
      <span class="color" style="background-color: #<%= label.color %>">&ensp;</span>
      <span class="name"><%= label.name %></span>
    </a>
    <%= link_to image_tag("gear.png", :class => "middle"), "javascript:;", :title => "edit the label '#{label.name}'", :class => "edit toggle" %>
  </div>
  <div class="edit toggle" style="display:none;">
    <%= render "labels/form.html", :label => label, :list => list %>
  </div>
</div>
