<div class="item" id='<%= dom_id(item) %>'>
  <div class="head">
    <span class="title">
      <%= render "title", :item => item %>
    </span>
    <span class="labels">
      <%= render :partial => "label", :collection => list.labels, :locals => {:list => list, :item => item} %>
    </span>
    <a class="manage-labels" href="javascript:;" title="manage labels"><%= image_tag("label.png", :class => "middle") %></a>
  </div>
  <div class="changed" style="display:none;">autosaving...</div>
  <div class="edit" style="display:none;">
    <%= form_for item, :remote => true do |f| %>
      <%= f.text_area :content, :rows => 6 %>
    <% end %>
    <div class="attributes">
      <%= render "attributes", :item => item %>
    </div>
  </div>

  <div class="menu">
    <div class="label-options">
      <% list.labels.each do |l| %>
    <% if item.labels.include?(l) %>
        <span class="label unassign" style="background-color: #<%= l.color %>">
          <%= link_to l.name, [list, item, l], :remote => true, :method => "delete" %>
        </span>
    <% else %>
        <span class="label assign" style="background-color: #<%= l.color %>">
          <%= link_to l.name, [list, item, l], :remote => true, :method => "post" %>
        </span>
    <% end %>
      <% end %>
    </div>
    <div class="actions selected">
      <div>
        <%= form_for item.listings.first, :url => move_list_item_listings_path(list, item), :remote => true, :html => {:class => "move_item", :method => "post"} do |f| %>
          <%= f.select :list_id, options_from_collection_for_select(selectable_lists, :id, :name, list.id) %>
          <%#= f.submit "move" %>
        <% end %>
      </div>
      <hr/>
      <div>
        <%= form_for [list, item, item.listings.first], :remote => true, :html => {:class => "done_item", :method => "delete"} do |f| %>
          <%= f.submit "done" %>
          <% end %>
      </div>
    </div>
  </div><!-- .menu -->
</div>
