<% if @list  %>
<%= render :partial => "/lists/header" %>
<% end %>

<hr/>
<ol class="sortable" data-url='<%= sort_list_items_path(@list) %>'>
<% @items.each do |item| %>
  <li class='<%= cycle "odd", "even" %> span-13 last' id='item_<%= item.id %>'>
    <div class="span-10">
      <%= link_to truncate(item.content, :length => 140), list_item_path(@list, item) %>
    </div>
    <div class="prepend-10">
      <select name="listing[list_id]" data-url='<%= move_list_item_listings_path(@list, item) %>' data-method="post">
        <%= options_from_collection_for_select @lists, :id, :name, @list.id %>
        <!-- <option value="new">new list...</option> -->
      </select>
      <%= link_to "done", list_item_listing_path(@list, item, item.listed_listing_id), :method => "delete" %>
    </div>
  </li>
<% end %>
</ol>
