<ul>
  <li>items: <%#= link_to "new", new_item_path %> | <%= link_to "done", done_items_path %>
    <ul>
    </ul>
  </li>
  <li>lists: <%= link_to "new", new_list_path %>
    <ol class="sortable" data-url='<%= sort_lists_path %>'>
    <% @lists.each do |list| %>
      <li id='list_<%= list.id %>'>
        <%= link_to underscore_exclusively_whitespaces(list.name), list_items_path(list) %> (<%= list.item_count %>)
      </li>
    <% end %>
    </ol>
  </li>
</ul>
