<div class="bookmark">
  <%= form_for @item, :remote => true, :html => {"data-type" => "json"} do |f| %>
    <%= f.text_area :content, :rows => 6 %>
    <%= f.fields_for :listings do |listings_fields| %>
      <%= listings_fields.collection_select :list_id, @lists, :id, :name %>
    <% end %>
    <%= f.submit "bookmark" %>
  <% end %>
</div>

<script>
$("form").live("ajax:success", function (event) {
  window.parent.postMessage("closeTextListsBookmarklet", "*");
});
</script>
